<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/c76cb06509.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/path/to/folder/css/academicons.min.css"/>
  </head>
  <body></body>
</html>
<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img
        src="./assets/images/selfie.jpg"
        alt="Picture of Galen smiling in a garden, wearing a hat and sunglasses."
        width="80"
      />
    </figure>

    <div class="info-content">
      <h1 class="name" title="Galen Bergsten">Galen Bergsten</h1>

      <p class="title">Exoplanets & Accessibility</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contact Info</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <a href="mailto:gbergsten@stsci.edu">
        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Email</p>

            <p class="contact-link">gbergsten@stsci.edu</p>
          </div>
        </li>
      </a>
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      <li class="social-item">
        <a href="https://bsky.app/profile/gbergsten.bsky.social" class="social-link">
            <img class="social-bsky" src="./assets/images/icon-bsky.svg" alt="Bluesky" width=15/>
        </a>
      </li>

      <li class="social-item">
        <a href="https://github.com/gbergsten" class="social-link">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://orcid.org/0000-0003-4500-8850" class="social-link">
          <i class="ai ai-orcid"></i>
        </a>
      </li>
        
        <!-- <li class="social-item">
        <a href="https://myanimelist.net/profile/mimosoid" class="social-link">
            <img class="social-mal" src="./assets/images/icon-mal.svg" alt="My Anime List" width=15/>
        </a>
      </li> -->
        
    </ul>
  </div>
</aside>
